"*":
  autosave:
    enabled: true
  core:
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    preferredLineLength: 100
    showIndentGuide: true
  "exception-reporting":
    userId: "a3c84e2c-cbf7-43a3-da27-795dcffadacf"
  "expand-region": {}
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "tree-view":
    hideVcsIgnoredFiles: true
  "tree-view-git-status": {}
  welcome:
    showOnStartup: false
